
<ion-header >

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="logo-buffer" padding></ion-icon>הודעות ודוחות</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="adminFlag==false" class="backImg">
  <br>
  <h1>אין הרשאה לצפיה בדף זה</h1>

</ion-content>
<ion-content padding *ngIf="adminFlag==true" class="backImg">
  <button ion-button class="dateBtn" round small style="background-color: #85cfc0" float-left icon-right (click)="picker.open()">‏
    <ion-label>
    <ion-datetime  [hidden]="showDate==true" #picker float-start type="datetime-local" displayFormat="MMMM-YYYY"  [(ngModel)]="selectedDate" class="align" (ionChange)="selectDateFunc(selectedDate)" pickerFormat="YYYY MMMM"></ion-datetime>
  </ion-label>
  </button>
  <br><br><br>
  <ion-list>
    <ion-list-header>
      <ion-icon name="mail" class="iconClass" item-left (click)="changeShowStatusPatientForm()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusPatientForm()">שליחת הודעה למטופלים</h1>
    </ion-list-header>

    <div class = "showForm" *ngIf="showHidePatientSMS==true">
      <form #f="ngForm" (ngSubmit)="sendSMSToAllPatients(f)" >
        <ion-list >
          <ion-item>
            <ion-label stacked>הכנס טקסט</ion-label>
            <ion-input
              type="text"
              name="smsText"
              placeholder="הודעה"
              ngModel
              required></ion-input>
          </ion-item>
        </ion-list>
        <button
          ion-button
          round
          type="submit"
          name="mail"
          block
          [disabled]="!f.valid">שליחה</button><br>
      </form></div>
  </ion-list>
  <ion-list >
    <ion-list-header>
      <ion-icon name="mail" class="iconClass" item-left (click)="changeShowStatusEmployeeForm()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusEmployeeForm()">שליחת הודעה לעובדים</h1>
    </ion-list-header>
    <div class = "showForm" *ngIf="showHideEmpSMS==true">
      <form #f="ngForm" (ngSubmit)="sendSMSToAllEmployees(f)" >
        <ion-list>
          <ion-item>
            <ion-label stacked>הכנס טקסט</ion-label>
            <ion-input
              type="text"
              name="smsText"
              placeholder="הודעה"
              ngModel
              required></ion-input>
          </ion-item>
        </ion-list>
        <button
          ion-button
          round
          type="submit"
          name="mail"
          block
          [disabled]="!f.valid">שליחה</button><br>
      </form></div>
  </ion-list>
  <br>
    <ion-list>
    <ion-list-header>
      <ion-icon name="logo-buffer" class="iconClassRep" item-left (click)="changeShowStatusReport()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusReport()">דוחות</h1>
    </ion-list-header>
    <div *ngIf="showHideReports==true">
      <ion-item (click)="changeShowContainer4()">
         מספר טיפולים לעובד בחודש
      </ion-item>
      <div [hidden]="changeShowContainerW==true">
        <div  id="container4" style="display: block;"></div>
      </div>
    <ion-item (click)="changeShowContainer1()">
       מספר טיפולים לעובד בשנה
    </ion-item>
      <div [hidden]="changeShowContainerX==true">
        <div id="container" style="display: block;"	></div>
      </div>
      <ion-item (click)="changeShowContainer5()">
        מספר טיפולים בחודש לפי סוג
      </ion-item>
      <div [hidden]="changeShowContainerV==true">
        <div id="container5" style="display: block;"></div>
      </div>
    <ion-item (click)="changeShowContainer2()">
      מספר טיפולים בשנה לפי סוג
    </ion-item>
      <div [hidden]="changeShowContainerY==true">
        <div id="container2" style="display: block;"></div>
      </div>
    <ion-item (click)="changeShowContainer3()">
      מספר טיפולים בשנה
    </ion-item>
    </div>
      <div [hidden]="changeShowContainerZ==true">
        <div  id="container3" style="display: block;"></div>
      </div>
  </ion-list>
 </ion-content>

