
<ion-header >

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="logo-buffer" padding></ion-icon>הודעות ודוחות</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="adminFlag==false" class="backImg">
  <br>
  <h1>אין הרשאה מתאימה לצפיה בדף זה</h1>

</ion-content>
<ion-content padding *ngIf="adminFlag==true" class="backImg">

  <ion-list >
    <ion-list-header>
      <ion-icon name="mail" class="iconClass" item-left (click)="changeShowStatusPatientForm()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusPatientForm()">שליחת הודעה למטופלים</h1>
    </ion-list-header>

    <div class = "showForm" *ngIf="showHidePatientSMS==true">
      <form #f="ngForm" (ngSubmit)="sendSMSToAllPatients(f)" >
        <ion-list >
          <ion-item>
            <ion-label stacked>הכנס טקסט</ion-label>
            <ion-input
              type="text"
              name="smsText"
              placeholder="הודעה"
              ngModel
              required></ion-input>
          </ion-item>
        </ion-list>
        <button
          ion-button
          round
          type="submit"
          name="mail"
          block
          [disabled]="!f.valid">שליחה</button><br>
      </form></div>
  </ion-list>
  <ion-list >
    <ion-list-header>
      <ion-icon name="mail" class="iconClass" item-left (click)="changeShowStatusEmployeeForm()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusEmployeeForm()">שליחת הודעה לעובדים</h1>
    </ion-list-header>

    <div class = "showForm" *ngIf="showHideEmpSMS==true">
      <form #f="ngForm" (ngSubmit)="sendSMSToAllEmployees(f)" >
        <ion-list>
          <ion-item>
            <ion-label stacked>הכנס טקסט</ion-label>
            <ion-input
              type="text"
              name="smsText"
              placeholder="הודעה"
              ngModel
              required></ion-input>
          </ion-item>
        </ion-list>
        <button
          ion-button
          round
          type="submit"
          name="mail"
          block
          [disabled]="!f.valid">שליחה</button><br>
      </form></div>
  </ion-list>
  <br>
  <h1>דוחות</h1>
  <div id="container" style="display: block;"	></div>
</ion-content>

