
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="home" padding></ion-icon>דף הבית</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="גלול מטה לעדכון"
      refreshingSpinner="circles"
      refreshingText="מעדכן...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="title">
    <ion-label>
    <ion-datetime  float-left type="datetime-local" displayFormat="MMMM-DD-YYYY"  [(ngModel)]="myDate" class="align" (ionChange)="selectData(myDate)" pickerFormat="YYYY MMMM DD"></ion-datetime>
      <button ion-button float-right round icon-only color="primary" clear class="zeroButton"(click)="zeroDay()"><ion-icon md="md-refresh-circle"></ion-icon></button>
    </ion-label>
  </div>
  <div class="showFilteredTreatment" *ngIf="filterTreatmentFlag==true">
    <ion-list>
      <ion-list-header>
       <h1>לו"ז יומי</h1>
      </ion-list-header>
      <ion-item *ngFor="let item of filteredTreatmentList; let i = index" (click)="onLoadTreatment(item, i)">
        <h2>{{item.treatmentType}} </h2>
        <h2> שם עובד: {{item.employeeID}}</h2>
        <h2>שם מטופל: {{item.patientID}}</h2>
        <h3>   שעת טיפול: {{item.treatmentEndDate.slice(11,16)}} - {{item.treatmentStartDate.slice(11,16)}}</h3>
        <p> מס' חדר: {{item.treatmentRoom}}</p>
      </ion-item>
    </ion-list>
  </div>
  <br>
  <br>
 <!-- <div *ngIf="filterTreatmentFlag==false">
    <ion-list>
      <ion-item>
        <h2>אין טיפולים ביום זה</h2>
      </ion-item>
    </ion-list>
  </div>
  -->
 <!-- <ion-list>
    <ion-list-header>
      <ion-icon name="calendar" item-left (click)="showCalendar()"></ion-icon>

      <h1 (click)="showCalendar()">לו"ז יומי</h1>

    </ion-list-header>
    <div class="showNotes" *ngIf="calendarItems==true">
      <ion-item>
        <h2>12:00-13:00</h2>
        <h3>טיפול שבדי לאורי</h3>
      </ion-item>
      <ion-item>
        <h2>13:30-14:30</h2>
        <h3>רקמות עמוקות לליאור</h3>
      </ion-item>
      <ion-item>
        <h2>15:00-17:00</h2>
        <h3>שיחת צוות</h3>
      </ion-item>

    </div>
    </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-icon name="list-box" item-left (click)="showNotes()"></ion-icon>
      <h1 (click)="showNotes()">הערות</h1>
    </ion-list-header>
    <div class="showNotes" *ngIf="notes==true">
      <ion-item>
        <h3>לבדוק מלאי מגבות</h3>
      </ion-item>
      <ion-item>
        <h3>לדבר עם אורלי</h3>
      </ion-item>
      <ion-item>
        <h3>לדבר עם משה עוד יומיים</h3>
      </ion-item>
    </div>
  </ion-list>-->
</ion-content>
