
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="home" padding></ion-icon>דף הבית</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding class="backImg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="גלול מטה לעדכון"
      refreshingSpinner="circles"
      refreshingText="מעדכן...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="title">
    <ion-label>
    <ion-datetime  float-left type="datetime-local" displayFormat="MMMM-DD-YYYY"  [(ngModel)]="myDate" class="align" (ionChange)="selectData(myDate)" pickerFormat="YYYY MMMM DD"></ion-datetime>
      <button ion-button round float-right round icon-only color="primary" clear class="zeroButton"(click)="zeroDay()"><ion-icon md="md-refresh-circle"></ion-icon></button>
    </ion-label>
  </div>
  <div class="showFilteredTreatment" *ngIf="filterTreatmentFlag==true">
    <ion-list>
      <ion-list-header>
       <h1>לו"ז יומי</h1>
      </ion-list-header>
      <ion-item *ngFor="let item of filteredTreatmentList; let i = index" (click)="onLoadTreatment(item, i)">
        <h2>{{item.treatmentType}} </h2>
        <h2> שם עובד: {{item.employeeName}}</h2>
        <h2>שם מטופל: {{item.patientName}}</h2>
        <h3>   שעת טיפול: {{item.treatmentEndDate.slice(11,16)}} - {{item.treatmentStartDate.slice(11,16)}}</h3>
        <p> מס' חדר: {{item.treatmentRoom}}</p>
      </ion-item>
    </ion-list>
  </div>
 </ion-content>
