
<ion-header dir="rtl">

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="people" padding></ion-icon>מטופל</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding class="content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="גלול מטה לעדכון"
      refreshingSpinner="circles"
      refreshingText="מעדכן...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>{{ patient.patientName}}</h2>
      </ion-col>
    </ion-row>
    <ion-list padding>
      <ion-col>
        <ion-row>
          <ion-item>
            תעודת זהות: {{patient.patientID}}
          </ion-item>
          <ion-item>
            מס' טלפון:{{patient.patientPhone}}
          </ion-item>
          <ion-item>
            מין:{{patient.patientGender}}
          </ion-item>
          <ion-item>
            כתובת מייל:{{patient.patientMail}}
          </ion-item>
          <ion-item>
            תאריך לידה:{{patient.patientDOB}}
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-list>
  </ion-grid>
  <div class="showFilteredTreatment" *ngIf="filterTreatmentFlag==true">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>טיפולים</h2>
      </ion-col>
    </ion-row>
    <ion-list padding>
      <ion-col>
        <ion-row>
          <ion-item *ngFor="let item of filteredTreatmentList; let i = index"(click)="onLoadTreatment(item, i)">
            <h2>{{item.treatmentType}}</h2>
            <h2>{{item.employeeName}}</h2>
            <h2>{{item.treatmentStartDate.slice(0,10)}}</h2>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-list>
  </ion-grid>
  </div>
  <ion-buttons class="editButtons">
    <button *ngIf="isAdmin()"
            ion-button
            icon-right
            color="secondary">
      <ion-icon name="create" ></ion-icon>
      עריכה
    </button>

    <button
      ion-button
      icon-right
      color="danger"
      (click)="onDeletePatient()">
      <ion-icon name="trash"></ion-icon>
      מחיקה
    </button>
  </ion-buttons>
</ion-content>
