
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="people" padding></ion-icon>מטופלים ועובדים
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding dir="rtl" class="backImg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="גלול מטה לעדכון"
      refreshingSpinner="circles"
      refreshingText="מעדכן...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-icon name="add" class="iconClass" item-left (click)="changeShowTreatmentForm()"></ion-icon>
      <h1 (click)="changeShowTreatmentForm()">הוספת טיפול</h1>
    </ion-list-header>
    <div class = "showTreatmentForm" *ngIf="showHideTreatmentForm==true">
      <form #d="ngForm" (ngSubmit)="onAddTreatment(d)" >
        <ion-item>
          <ion-label >הכנס סוג טיפול</ion-label>
          <ion-textarea
            type="text"
            name="treatmentType"
            ngModel
            required
          ></ion-textarea>
        </ion-item>
        <ion-item><ion-label>בחר מטפל</ion-label>
          <ion-select [(ngModel)]="employeeName" multiple="false"  required name="employeeName" >
            <ion-option *ngFor="let e of listEmployees" [value]="e.employeeName">
              {{ e.employeeName}}
            </ion-option>
          </ion-select></ion-item>
        <ion-item><ion-label>בחר לקוח</ion-label>
          <ion-select [(ngModel)]="patientName" multiple="false"  required name="patientName">
            <ion-option *ngFor="let p of listPatients" [value]="p.patientName">
              {{ p.patientName}}
            </ion-option>
          </ion-select></ion-item>
        <ion-item>
          <ion-label>בחר תאריך ושעת התחלת טיפול</ion-label>
          <ion-datetime pickerFormat="DD MMMM YYYY HH:mm" displayFormat="HH:mm ,MMMM-DD-YYYY" [(ngModel)]="treatmentStartDate"   required name="treatmentStartDate" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>בחר תאריך ושעת סיום טיפול</ion-label>
          <ion-datetime pickerFormat="DD MMMM YYYY HH:mm" displayFormat="HH:mm ,MMMM-DD-YYYY" [(ngModel)]="treatmentEndDate"    required name="treatmentEndDate" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label >מס' חדר</ion-label>
          <ion-select [(ngModel)]="treatmentRoom" name="treatmentRoom" required >
            <ion-option value="1" >1</ion-option>
            <ion-option value="2" >2</ion-option>
            <ion-option value="3" >3</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label >הערות</ion-label>
          <ion-textarea
            type="text"
            name="notes"
            ngModel
          ></ion-textarea>
        </ion-item>
        <button
          ion-button
          type="submit"
          block
          round
          [disabled]="!d.valid">הוסף טיפול</button><br>
      </form>
    </div>
  </ion-list>
  <br>
  <ion-list>
    <ion-list-header>
      <ion-icon name="person-add" class="iconClass" item-left (click)="changeShowStatusPatientForm()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusPatientForm()">הוספת מטופל</h1>
    </ion-list-header>

    <div class = "showForm" *ngIf="showHidePatientForm==true">
      <form #f="ngForm" (ngSubmit)="onAddPatient(f)" >
        <ion-list>
          <ion-item>
            <ion-label stacked>מספר זהות</ion-label>
            <ion-input
              type="tel"
              name="patientID"
              placeholder="123456789"
              maxlength="9"
              minlength="8"
              ngModel
              required

            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>שם פרטי ושם משפחה</ion-label>
            <ion-input
              type="text"
              name="patientName"
              placeholder="ישראל ישראלי"
              ngModel
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked >מין</ion-label>
            <ion-select [(ngModel)]="patientGender" name="patientGender">
              <ion-option value="זכר"  >זכר</ion-option>
              <ion-option value="נקבה" >נקבה</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label stacked>כתובת</ion-label>
            <ion-input
              type="text"
              name="patientAddress"
              placeholder="הכוכב 15, חיפה"
              ngModel
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>טלפון</ion-label>
            <ion-input
              type="tel"
              name="patientPhone"
              placeholder="0548888888"
              required
              maxlength="10"
              minlength="9"
              ngModel
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>דוא"ל</ion-label>
            <ion-input
              type="email"
              name="patientMail"
              placeholder="Mail@mail.com"
              ngModel
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>תאריך לידה</ion-label>
            <ion-input
              type="date"
              name="patientDOB"
              placeholder="25-10-1980"
              ngModel
            ></ion-input>
          </ion-item>
        </ion-list>
        <button
          ion-button
          type="submit"
          block
          round
          [disabled]="!f.valid">הוסף מטופל</button><br>
      </form></div>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-icon name="contact" class="iconListClass" item-left (click)="changeShowStatusPatientList()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusPatientList()">רשימת מטופלים</h1>
    </ion-list-header>
    <div class="showPatient" *ngIf="showHidePatientList==true">
      <ion-searchbar (ionInput)="searchPatients($event)" animated="true"></ion-searchbar>
      <ion-item-sliding *ngFor="let item of listPatients; let i = index" (click)="onLoadPatient(item, i)">
        <ion-item>
          {{item.patientName}}
        </ion-item>
        <ion-item-options side="right" style="direction:ltr">

          <ion-buttons>
            <button
              ion-button
              round
              class="iconClass"
              (click)="onSendSMSPatient(item)"><ion-icon name="mail"></ion-icon>
              שליחת הודעה
            </button>
            <button
              ion-button
              round
              class="otherIconClass"
               (click)="onCallNumber(item)">
              <ion-icon name="call"></ion-icon>
              התקשר
            </button>
          </ion-buttons>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
  <br>
  <ion-list *ngIf="adminFlag==true">
    <ion-list-header>
      <ion-icon name="person-add" class="iconClass" item-left (click)="changeShowStatusForm()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusForm()">הוספת עובד</h1>
    </ion-list-header>

    <div class = "showForm" *ngIf="showHideEmpForm==true">
      <form #f="ngForm" (ngSubmit)="onAddEmployee(f)" >
        <ion-list>
          <ion-item>
            <ion-label stacked>מספר זהות</ion-label>
            <ion-input
              type="tel"
              name="employeeID"
              placeholder="123456789"
              maxlength="9"
              minlength="8"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>שם פרטי ושם משפחה</ion-label>
            <ion-input
              type="text"
              name="employeeName"
              placeholder="ישראל ישראלי"
              ngModel
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>טלפון</ion-label>
            <ion-input
              type="tel"
              name="employeePhone"
              placeholder="0548888888"
              maxlength="10"
              minlength="9"
              required
              ngModel
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked >מין</ion-label>
            <ion-select [(ngModel)]="employeeGender" name="employeeGender">
              <ion-option value="זכר"  >זכר</ion-option>
              <ion-option value="נקבה" >נקבה</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label stacked>דוא"ל</ion-label>
            <ion-input
              type="email"
              name="employeeMail"
              placeholder="Mail@mail.com"
              required
              ngModel
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>תאריך לידה</ion-label>
            <ion-input
              type="date"
              name="employeeDOB"
              placeholder="25-10-1980"
              ngModel
            ></ion-input>
          </ion-item>
        </ion-list>
        <button
          ion-button
          type="submit"
          block
          round
          [disabled]="!f.valid">הוסף עובד</button><br>
      </form></div>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-icon name="contacts" class="iconListClass" item-left (click)="changeShowStatusEmpList()"></ion-icon>
      <h1 class="listHeader" (click)="changeShowStatusEmpList()">רשימת עובדים</h1>
    </ion-list-header>
    <div class="showEmployee" *ngIf="showHideEmpList==true">
      <ion-searchbar (ionInput)="searchEmployees($event)" animated="true"></ion-searchbar>
      <ion-item-sliding *ngFor="let item of listEmployees; let i = index"(click)="onLoadEmployee(item, i)">
        <ion-item>
          {{item.employeeName}}
        </ion-item>
        <ion-item-options side="right" style="direction:ltr">

          <ion-buttons>
            <button
            ion-button
            round
            class="iconClass"
            (click)="onSendSMSEmployee(item)"><ion-icon name="mail"></ion-icon>
              שליחת הודעה
            </button>

            <button
              ion-button
              round
              class="otherIconClass"
               (click)="onCallNumber(item)">
              <ion-icon name="call"></ion-icon>
              התקשר
            </button>
          </ion-buttons>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
  <!--<ion-buttons>
    <button ion-button
      round
      (click)="onLoadReports()">
      דוחות
    </button>
  </ion-buttons>-->
</ion-content>
