page-registration-employee {
  .content{
    background:#56CA96;
  }
  .listHeader{
    display: inline-block;
  }
  .button-right{
    display: block !important;
    width: 100% !important;
    text-align:right !important;
  }
  .iconClass{
    color:#ffbb00;
  }
  .iconListClass{
    color:aqua;
  }
}
