page-registration-employee {

  .listHeader{
    display: inline-block;
  }
  .button-right{
    display: block !important;
    width: 100% !important;
    text-align:right !important;
  }
  .iconClass{
    color:#ffbb00;
  }
  .iconClassButton{
    color:#ffbb00;
    background-color:#399f8b;
  }
  .otherIconClass{
    color:palegreen;
  }
  .otherIconClassButton{
    color:palegreen;
    background-color:#399f8b;
  }
  .iconListClass{
    color:#399f8b;
  }


}
