page-employees {

  .editButtons{
    margin-right: 130px;
  }
  .alertDanger{
    $alert-md-box-shadow-color:red;
    $alert-md-background-color:red;
    $alert-input-placeholder-color:red;
  }
  .iconClass{
    color:#ffbb00;
  }
  .otherIconClass{
    color:palegreen;
  }
}
