
<ion-header dir="rtl">

   <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="people" padding></ion-icon>עובד</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding class="backImg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="גלול מטה לעדכון"
      refreshingSpinner="circles"
      refreshingText="מעדכן...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h1>{{ employee.employeeName}}</h1>
      </ion-col>
    </ion-row>
    <ion-list padding>
      <ion-col>
        <ion-row>
          <ion-item>
            תעודת זהות: {{employee.employeeID}}
          </ion-item>
          <ion-item>
            מס' טלפון:{{employee.employeePhone}}
          </ion-item>
          <ion-item>
            מין:{{employee.employeeGender}}
          </ion-item>
          <ion-item>
            כתובת מייל:{{employee.employeeMail}}
          </ion-item>
          <ion-item>
            תאריך לידה:{{employee.employeeDOB}}
          </ion-item>
        </ion-row>
        <ion-buttons align-items-end style="padding-right: auto">
          <button
            ion-button
            round
            side="right"
            class="iconClass"
            (click)="onSendSMSEmployee()"><ion-icon name="mail"></ion-icon>
          </button>
          <button
            ion-button
            round
            class="otherIconClass"
            (click)="onCallNumber()">
            <ion-icon name="call"></ion-icon>
          </button>
          <button
            ion-button
            icon-right
            round
            color="secondary"
            (click)="onEditEmployee()">
            <ion-icon name="create" ></ion-icon>
            עריכה
          </button>
        </ion-buttons>
      </ion-col>
    </ion-list>
  </ion-grid>
  <div class="showFilteredTreatment" *ngIf="filterFutureTreatmentFlag==true">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>טיפולים עתידיים</h2>
      </ion-col>
    </ion-row>
    <ion-list padding>
      <ion-searchbar (ionInput)="searchFuturePatients($event)" animated="true"></ion-searchbar>
      <ion-col>
        <ion-row>
          <ion-item *ngFor="let item of filteredFutureTreatmentList; let i = index" (click)="onLoadTreatment(item, i)">
            <h2>{{item.treatmentType}}</h2>
            <h2>{{item.patientName}}</h2>
            <h2>{{item.treatmentEndDate.slice(11,16)}} - {{item.treatmentStartDate.slice(11,16)}} , {{item.treatmentStartDate.slice(0,10)}}</h2>
            <h2>חדר {{item.treatmentRoom}}</h2>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-list>
  </ion-grid>
  </div>
  <div class="showFilteredTreatment" *ngIf="filterPastTreatmentFlag==true">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <h2>טיפולי עבר</h2>
        </ion-col>
      </ion-row>
      <ion-list padding>
        <ion-searchbar (ionInput)="searchPastPatients($event)" animated="true"></ion-searchbar>
        <ion-col>
          <ion-row>
            <ion-item *ngFor="let item of filteredPastTreatmentList; let i = index" (click)="onLoadTreatment(item, i)">
              <h2>{{item.treatmentType}}</h2>
              <h2>{{item.patientName}}</h2>
              <h2>{{item.treatmentEndDate.slice(11,16)}} - {{item.treatmentStartDate.slice(11,16)}} , {{item.treatmentStartDate.slice(0,10)}}</h2>
              <h2>חדר {{item.treatmentRoom}}</h2>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-list>
    </ion-grid>
  </div>

</ion-content>
